SI_ccp/Service References/BundleRef/BundlePlan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BundlePlan" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.100:1058/Service1/BundlePlan.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.100:1058/Service1/BundlePlan.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBundlePlan_CreateBunldePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBunldePlan" />
  </wsdl:message>
  <wsdl:message name="IBundlePlan_CreateBunldePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBunldePlanResponse" />
  </wsdl:message>
  <wsdl:message name="IBundlePlan_DeleteBunldePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBunldePlan" />
  </wsdl:message>
  <wsdl:message name="IBundlePlan_DeleteBunldePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBunldePlanResponse" />
  </wsdl:message>
  <wsdl:message name="IBundlePlan_getbundleplan_details_InputMessage">
    <wsdl:part name="parameters" element="tns:getbundleplan_details" />
  </wsdl:message>
  <wsdl:message name="IBundlePlan_getbundleplan_details_OutputMessage">
    <wsdl:part name="parameters" element="tns:getbundleplan_detailsResponse" />
  </wsdl:message>
  <wsdl:message name="IBundlePlan_EditBunldePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBunldePlan" />
  </wsdl:message>
  <wsdl:message name="IBundlePlan_EditBunldePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBunldePlanResponse" />
  </wsdl:message>
  <wsdl:portType name="IBundlePlan">
    <wsdl:operation name="CreateBunldePlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IBundlePlan/CreateBunldePlan" message="tns:IBundlePlan_CreateBunldePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBundlePlan/CreateBunldePlanResponse" message="tns:IBundlePlan_CreateBunldePlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBunldePlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IBundlePlan/DeleteBunldePlan" message="tns:IBundlePlan_DeleteBunldePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBundlePlan/DeleteBunldePlanResponse" message="tns:IBundlePlan_DeleteBunldePlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getbundleplan_details">
      <wsdl:input wsaw:Action="http://tempuri.org/IBundlePlan/getbundleplan_details" message="tns:IBundlePlan_getbundleplan_details_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBundlePlan/getbundleplan_detailsResponse" message="tns:IBundlePlan_getbundleplan_details_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBunldePlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IBundlePlan/EditBunldePlan" message="tns:IBundlePlan_EditBunldePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBundlePlan/EditBunldePlanResponse" message="tns:IBundlePlan_EditBunldePlan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBundlePlan" type="tns:IBundlePlan">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBunldePlan">
      <soap:operation soapAction="http://tempuri.org/IBundlePlan/CreateBunldePlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBunldePlan">
      <soap:operation soapAction="http://tempuri.org/IBundlePlan/DeleteBunldePlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getbundleplan_details">
      <soap:operation soapAction="http://tempuri.org/IBundlePlan/getbundleplan_details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBunldePlan">
      <soap:operation soapAction="http://tempuri.org/IBundlePlan/EditBunldePlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BundlePlan">
    <wsdl:port name="BasicHttpBinding_IBundlePlan" binding="tns:BasicHttpBinding_IBundlePlan">
      <soap:address location="http://192.168.1.100:1058/Service1/BundlePlan.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>