SI_ccp/Service References/BundleRef/BundlePlan1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateBunldePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBunldePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBunldePlanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBunldePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBunldePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBunldePlanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getbundleplan_details">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getbundleplan_detailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getbundleplan_detailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBunldePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBunldePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditBunldePlanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>